/* Import of fonts */

@import 'https://fonts.googleapis.com/css?family=Chelsea+Market';
@import 'https://fonts.googleapis.com/css?family=Frijole';
body {
    margin: 0;
    text-align: center;
    font-size: 1rem;
    color: rgba(0, 23, 66, 1);
    background: rgba(40, 125, 168, 1);
}

#index-content-container {
    width: 800px;
    margin: 0 auto;
}

div#game-container {
    /*display: initial; */
    /* Hack to center the level selection. */
    width: 800px;
    /* 0 y offset automatically center on the x axis */
    margin: 0 auto;
}


/* container for the additional game info (timer, health, points) */

div#game-bar {
    width: 800px;
    height: 50px;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
}

div#game-bar>div#game-bar-timer, div#game-bar>div#game-bar-lifes, div#game-bar>div#game-bar-score {
    width: 250px;
    height: 50px;
    display: inline-block;
    font-size: 2em;
    text-align: center;
}


/* span makes sure that these elements will only get styled if they are spanned */

span#game-bar-timer-head, span#game-bar-timer-timer, span#game-bar-lifes-head, span#game-bar-lifes-lifes, span#game-bar-score-head, span#game-bar-score-score {
    vertical-align: middle;
    font-family: 'Chelsea Market', cursive;
    text-transform: uppercase;
}


/* game level selection is a child of game container */

#game-level-selection {
    max-width: 100%;
}


/* all link children of game level selection */

#game-level-selection>a {
    margin: .5em .2em;
}

#game-level-selection>a>img {
    display: inline-block;
    max-width: 30%;
}

#game-level-selection>a>img:hover {
    outline: 2px solid #fff;
}

hr#hr-head-border {
    width: 80%;
}

div#navigation>span {
    display: inline-block;
}


/* all links in general*/

a {
    /* Adds a nice animation between the colors */
    -webkit-transition: color 300ms, background 300ms;
    transition: color 300ms, background 300ms;
}

#navigation>span>a {
    font-size: 1.2rem;
    color: rgba(0, 23, 66, 1);
    text-decoration: none;
    padding: 0 0.4rem;
}

#navigation>span>a:before {
    content: "{"
}

#navigation>span>a:after {
    content: "}"
}


/* extends row 82 */

#navigation>span>a:hover {
    color: #fff;
}


/*
  Under water font style.
  enjoycss.com
*/

.under-water {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 67px/normal "Frijole", Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.12);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 4px 0 9px rgba(255, 255, 255, 0.51);
}

.under-water-small {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font: normal 1em/normal "Frijole", Helvetica, sans-serif;
    margin-top: 2em;
    -o-text-overflow: clip;
    text-overflow: clip;
}

.under-water-medium {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font: normal 2em/normal "Frijole", Helvetica, sans-serif;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 4px 0 9px rgba(255, 255, 255, 0.51);
}

canvas#game {
    /* preventing the page to render the canvas */
    display: none;
    /* Initialize */
}


/*
  Happy blur effect
*/

.game-finished {
    /* Browser compatibility */
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

#form-game-send-highscore {
    position: absolute;
    left: 0px;
    right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -250px;
}

#form-game-send-highscore input[type="text"] {
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

#form-game-send-highscore input[type="text"]:focus, #form-game-send-highscore input[type="text"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

#form-game-send-highscore input[type="submit"], #form-game-send-highscore input[type="button"] {
    padding: 1em;
    margin-top: .5em;
    color: #fff;
    background-color: #6496c8;
    text-shadow: -1px 1px #417cb8;
    border: none;
}

#form-game-send-highscore input[type="submit"]:hover, #form-game-send-highscore input[type="submit"].hover, #form-game-send-highscore input[type="button"]:hover, #form-game-send-highscore input[type="button"].hover {
    background-color: #346392;
    text-shadow: -1px 1px #27496d;
    cursor: pointer;
    /* change from cursor to hand*/
}

#form-game-send-highscore input[type="submit"]:active, #form-game-send-highscore input[type="submit"].active, #form-game-send-highscore input[type="button"]:active, #form-game-send-highscore input[type="button"].active {
    background-color: #27496d;
    text-shadow: -1px 1px #193047;
    cursor: pointer;
}


/* highscores.html */

#response {
    margin: auto;
    width: 50%;
    min-height: 100px;
    /*border: 1px dashed blue;*/
}

#response>table {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
    /* Remove cell spacing */
    color: rgba(0, 23, 66, 1);
    /* I tried some nice text inset effect and failed */
    /*color: #0E3054;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;*/
}

#response>table th {
    font-size: 1.5rem;
}

#response>table td {
    padding: .5em;
}


/* the first entry of the highscore table will be dotted golden */

#response>table>tbody>tr:nth-of-type(1) {
    color: gold;
}

#response>table>tbody>tr:nth-of-type(2) {
    color: silver;
}

#response>table>tbody>tr:nth-of-type(3) {
    color: #CD7F32;
}


/* mapupload.html */


/* has form capabilities */

form#map-upload-form {
    margin: 0 auto;
}

form#map-upload-form>input {
    display: block;
    margin-bottom: .2em;
    font-size: 1em;
}

label#map-upload-form-file-label input[type="file"] {
    /* Hack for custom upload button */
    position: fixed;
    top: -1000px;
}

#map-upload-form-file-label {
    padding: 1em;
    margin-top: .5em;
    margin-bottom: 1em;
    border: none;
    /*margin: 2px;*/
    background: #fff;
    color: #6496c8;
    display: inline-block;
    width: 100px;
}

#map-upload-form-file-label:hover, #map-upload-form-file-label.hover {
    background-color: #27496d;
    text-shadow: -1px 1px #346392;
    cursor: pointer;
}

#map-upload-form-file-label:active, #map-upload-form-file-label.active {
    background-color: #193047;
    text-shadow: -1px 1px #27496d;
    cursor: pointer;
}

#map-upload-form-file-label>span {
    text-transform: uppercase;
}

p.guidelines {
    width: 400px;
    margin: 0 auto;
}

hr.hr-50 {
    width: 50%;
}

#thumbnail-viewer {
    margin-top: 10px;
}


/*
  Nice effect for the level selection.
  http://www.the-art-of-web.com/css/textoverimage/#
*/

a.hovertext {
    position: relative;
    width: 100%;
    text-decoration: none !important;
    text-align: center;
}

a.hovertext:after {
    content: attr(title);
    position: absolute;
    left: 0;
    bottom: 3px;
    padding: 0.5em 20px;
    width: 50%;
    background: rgba(0, 0, 0, 0.8);
    text-decoration: none !important;
    color: #fff;
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}

a.hovertext:hover:after, a.hovertext:focus:after {
    opacity: 1.0;
}


/*
  Play Difficulty Switch
  http://callmenick.com/post/css-toggle-switch-examples
  Hide the default checkbox and show a nice flipping animation.
*/

.switch {
    width: 120px;
    margin: 0 auto;
}

.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.cmn-toggle+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

input.cmn-toggle-yes-no+label {
    padding: 2px;
    width: 120px;
    height: 60px;
}

input.cmn-toggle-yes-no+label:before, input.cmn-toggle-yes-no+label:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
}

input.cmn-toggle-yes-no+label:before {
    background-color: #dddddd;
    content: attr(data-off);
    transition: transform 0.5s;
    backface-visibility: hidden;
}

input.cmn-toggle-yes-no+label:after {
    background-color: #001742;
    content: attr(data-on);
    transition: transform 0.5s;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

input.cmn-toggle-yes-no:checked+label:before {
    transform: rotateY(180deg);
}

input.cmn-toggle-yes-no:checked+label:after {
    transform: rotateY(0);
}

#error-message {
    color: red;
}

#map-upload-content {
    margin: 0 auto;
    width: 800px;
}

#how-to-play {
    display: none;
    border: 1px solid black;
    font-size: 1em;
}

#how-to-play>p>span {
    text-transform: uppercase;
    font-weight: bold;
}
